@import 'vars.scss';
@import 'common.scss';
@import 'normalize.scss';
@import 'bootstrap.scss';


// HEADER SECTION

#header{
	.row{
		height: auto;
	}
	#logo{
		height: 90px;
		@media (max-width: 991px){
			margin-bottom: 10px;
		}

		.logo-img{
			width: 12px;
			height: 12px;
			position: absolute;
			left: 41.6%;
			top: -160%;
		}

		#logo-main-text{
			color: $dark;
			font-family: Roboto;
			font-size: 73px;
			font-weight: $weight-norm;
			line-height: 20px;
			text-transform: uppercase;
			position: absolute;
			top: 45%;
		}

		#logo-minor-text{
			width: 70px;
			height: 11px;
			color: $grey;
			font-family: Roboto;
			font-size: 11px;
			font-weight: $weight-light;
			line-height: 30px;			
			position: absolute;
			top: 78%;
			left: 35.5%;
		}
	}

	#cont_search{
		height: 42px;
		text-align: right;
		.btn-default{
			margin: auto 0;
			border: none;
			background-color: transparent;
			color: $grey;
			font-size: 11px;
			font-weight: $weight-light;
			line-height: 18px;
			text-transform: uppercase;
		}

		.carett{
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px; 
			width: 12px;
			height: 4px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAYUlEQVQYV2XPwQ2AMAwDwLgrMUsZgRXglUZ9wQodAUZgOKMIFUUlT/v8CEopN8lWa71kOFVdU0oTzOwkmUnOEToAsJPc4OMRdgDgMLMXRSgiTUSWDrz7UIQR/JAHqprHJx7hiEAi9X8DHAAAAABJRU5ErkJggg==) center no-repeat;
		}

		.dropdown-menu{
			min-width: 0;
			.open{
				border: none;
			}
			li{
				a{	
					width: 50px;
					padding: 3px 15px;
				}
			}
		}

		input[name="search"]{
		width: 54.20%;
		height: 42px;
		padding-right: 31px;
		border: 1px solid $light-grey;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABUElEQVQ4T6WTzVHDMBCFd8c/97Rgl0BKMCMdfE1KgBKcEkIJUAK++iAJl0BKwCWQAvyzzHokj2wHSEAnjVfz+e3btwjeqapqE4bhAyLuAODOlk5EVHZd95Ln+dl/7+7oLkqpDBFfAWBz6SEANET0KKWsl/URYgFvi2JjgTMoEd0vQcgtRFH04SkogyA4ZFnGEKjrOun7/hkAMvuTpm3brd8aKqUKRDzaB6UQYn+pHa01Kx1BRHSQUj5Nnmit352JQRCkTsESZBWxYj4nIcTWh5CTKYRIvzF1/Ky1/nRtCyGmoaDW+hYIK0kYuIT8vx1jzJGIiiuM5QxxCNfGXjlint4IAIBz27bpbMS/hI3Lowf+WY3YFa+IPe/NlF4fNI2JYdxaHMcFEXGoVgtol9MFc/JmBvkpI55iP+GAiPubIdbDCcRt/QnCIGPMbhiGhHfoC28zwzSiHPsVAAAAAElFTkSuQmCC) 95% no-repeat;
		}
	}

	.cart-links{
		margin-bottom: 2.286em;
		text-align: right;
		a{
			color: $grey;
			font-size: 0.786em;
			font-weight: $weight-light;
			text-transform: uppercase;
			margin: 0 0.364em;
		}

		.ic-magazine{
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.364em;
			width: 14px;
			height: 12px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAvUlEQVQoU42RsQ3DIBBF/xWWaMkIyQjOCEg03iMjJCNkhcyQ1gUoK8QrMEIywBWOzgIpIGz8G3Q6Hnf8T977HsAbUcx8GIbhm+q1k6ThnDMAeiK6t4DUX8Ak7/0HgN4Dl+ALgExvKgOdc9e965agISKZ2lQGjuOou66Tf/4rABCXAxGFeZ6lnjJQbkeDnsx824qlNCfLdG1fay2tTZRILhXwIWsz82kLPFtrp0rOqILRoGMJyQPSU0ppY0z4Ae6oS5fAdDKTAAAAAElFTkSuQmCC) center no-repeat;
		}

		.ic-zamok{
			display: inline-block;
			margin-right: 0.364em;
			width: 14px;
			height: 12px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAALCAYAAACtWacbAAAAt0lEQVQoU42QzQ3CMAyF/bwBK8AI7QqMAIcqEZQLI8AIMAIXftSqBxiBFdoR6ApsYCNHTVV6AR8S6/nzsxNQF2vvF1A9ENGUiFoF9teieFgZdnTAPQhAo6qJ5QosDQzQxvvaCiKS3qqqWWVZwsy1NZyLIg1Q7pxGIY6PjZeyxH9Q7tyrWzaajO8WNiqqIHoLsGXVkxJNen0I2dMhMlfm59D9yyl8gchMmW2FPsZQC+Coqrux08/FPzsIX1irqTr+AAAAAElFTkSuQmCC) center no-repeat;
		}
	}

	nav{
		width: 100%;
		height: 4.063em;
		background-color: $blue;
		white-space: nowrap;
		margin-bottom:  1.438em;
		margin-top:  1.250em;
		border-radius: 0;
		@media (max-width: 1200px){
			white-space: normal;
			height: auto;
		} 
		li{
			height: 4.063em;
			vertical-align: middle;	
				
			span{
				color: $white;
			}
			a{
				color: $white;
				font-size: 1em;
				display: inline;
				height: 1.063em;
				font-weight: $weight-norm;
				line-height: 1.875em;
				&:focus, &:hover {
					background-color:transparent;
				}
				@media (max-width: 1200px){
					height: auto;
					line-height: initial;
					display: inline-block;
				} 
			}
		}
	}
}

// MAIN SECTION

#main{
	padding-bottom:8%; 
	border-bottom: 1px solid #bfbbb9;
	#myCarousel{
		width: 100%;
		position: relative;
		li{
			border: 1px solid $grey;

		}
		.item{
			span{
				color: $dark;
				font-size: 0.83vw;
				font-weight: $weight-bold;
				text-transform: uppercase;
				position: absolute;
				top: 56%;
				width: 19.5% ;
				text-align: center;
				left: 8%;
				transform: translateY(-50%);
			}
			button{
				color: $white;
				background-color: $red;
				font-size: 0.83vw;
				font-weight: $weight-norm;
				text-transform: uppercase;
				position: absolute;
				top: 66%;
				width: 8.8%;
				height: 7.8%;
				text-align: center;
				left: 13.5%;
				transform: translateY(-50%);
				border: none;
				outline: none;	
			}
		}
		.carousel-indicators{
			bottom: -10.29%;
			.active{
				background-color: $grey;
			}
		}  
	}
}

// PRODUCT SECTION

#product{
	padding: 20px 0 0 0;
	#gallery{
		margin-top: 19.45px;
		padding-left: 38px;
		padding-right: 0;
		@media (max-width: 1200px)
		{
			padding-left: 0;
		}	
		.btn_gall{
			background-color: transparent;
			border: none;
			color: $dark;
			font-size: 1.78em;
			font-weight: $weight-norm;
			line-height: 1.42;	
			outline: none;
			border-right: 1px solid #bfbbb9;
			margin-bottom: 30px;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				border-right: none;
			}
			@media (max-width: 426px){
			font-size: 1.18rem;
			line-height: 1.02;
			} 
		}
		.row_gall{
			margin-right: 0;
			margin-left: 0;
			text-align: justify;
			&:after{
				content: "";
				display: inline-block;
				width: 100%;
			}
			@media (max-width: 375px){
				text-align: center;
			}
			.card{
				margin-bottom: 5.37%;
				h4{
					font-size: 1em;
					line-height: 1.71;
					color: $light-dark;
					font-weight: $weight-norm;
					font-family: Roboto;
				}
				p{
					font-size: 1em;
					line-height: 1.71;
					color: $light-grey;
					font-weight: 300;
				}
				span{
					font-size: 1.78em;
					color: $dark;
					font-weight: $weight-norm;
					line-height: 1.42;	
				}
				.btn_card{
					width: 100%;
					display: block;
					height: 31.4%;
					padding: 21px 36px;
					margin-top: 28px;
					text-transform: uppercase;
					color: $white;
					background-color:$blue;
					font-size: 1.14rem;
					font-weight: $weight-norm;
					border: none;
				}
			}
		}
	}

	#Sidebar{
	}
}

#ccontact{
	border: 1px solid $light-grey;
	margin-bottom: 71px;

	h1{
		color: $dark;
		font-size: 1.78rem;
		font-weight: $weight-norm;
		line-height: 1.32;
		margin-bottom: 29px;	
	}
	h4{
		color: $light-dark;
		font-size: 1rem;
		line-height: 2.35;
		font-weight: $weight-norm;
		margin-top: 0;
		margin-bottom: 0;
	}
	p{
		color: #8f9296;
		font-size: 0.92rem;
		line-height: 1.46;
		font-weight: $weight-norm;
	}

	#fb{
		height: 344px;
		border-right: 1px solid $light-grey;
		text-align: center;
		iframe{
			border: 1px solid $light-grey !important;
			min-width: 340px;
			min-height: 220px;
			width: 70%;
			@media (max-width: 990px){
				width: 49%;
				height: 60%;
				margin: 0 auto;			
			}
			@media (max-width: 785px){
				width: 50%;
				height: 60%;
			}
		} 
		@media (max-width: 990px){
				border-right: 0 ;			
				border-bottom: 1px solid $light-grey;
			}
	}

	#call{
		height: 344px;
		padding-top: 25px;
		i{
			color: $blue;
		}
		ul{
			li{
				list-style-type: none;
				position: relative;
				.img_cont{
					border-radius: 50%;
					background-color: #f3f3f3;
					padding: 8px;
					text-align: center;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
				.text_cont{
					margin-left: 15%;

				}
			}
		}
	}

	#custom{
		height: 344px;
		border-left: 1px solid $light-grey;
		@media (max-width: 1200px){
			border-left: 0;
			border-top: 1px solid $light-grey;
		}
	}
}

.container-fluid{
	background-color: #333333;	
	padding-top: 50px;
	padding-bottom: 30px;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -3px;
    @media (max-width: 991px){
    	display: block;
    	width: 30%;
    	margin: 10px auto;
    }
}

#footer{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	#soc_cont{
		padding-left: 0;
		padding-right: 0;
		color: $white;
		
		.backgrnd_span{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: $light-grey;
			display: inline-block;
			text-align: center;
			position:relative;
			i{
				width: 100%;
				color: white;
				position: absolute;
				top: 25%;
				transform: translateX(-50%);
			}
		}
	}

	
	.ftr_ul{
		padding: 0;
		ul{
			color: $red;
			font-weight: $weight-norm;
			font-size: 1.78rem;
			line-height: 1.2;
			padding-left: 0;
			li{
				list-style-position: inside;
				color: $white;
				font-size: 1rem;
				line-height: 2.14;
			}
		}
	}
}