$weight-light: 400;
$weight-norm: 500;
$weight-bold: 700;

$light-grey: #666666;
$light-dark: #171717;
$dark: #3a3a3a;
$white: #ffffff;
$grey: #615c5c;
$lighter-grey: #c4c4c4;
$blue: #35b4bc;
$red: #e3477c;



